
.header {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: .75em .75em .1em;	
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	background-color:white;
}
.header a{
	margin-left:20px;
	float:left;	
}
.header2 {
	position: relative;
	max-width: 1500px;
	width: 100%;
	margin: 0 auto .75em;
	display: flex;
	background-color:white;
}
.header2 a{
	margin-left:40px;
	float:left;
	
}
* {
  box-sizing: border-box;
}
/* ikonların stili*/
.İkonS{	 
	color: #435064;
	text-align:center;	
  font-size: 18px;
  margin-left: 5px;
}
 .İkonS a:link,a:visited{
	color:#435064;
	text-decoration:none;
	
}
 .İkonS a:hover{
  color:red;
  transition: color .2s;
}
/* Arama çubuğu üstü linkler */
 #hvrenk{	
	color: #435064;
	text-align:center;
	font-size:14px;
	
}
 #hvrenk a:link,a:visited{
	color:#435064;
	text-decoration:none;
	
}
 #hvrenk a:hover{
  color:red;
  transition: color .2s;
}

/* Arama Çubuğu stili */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  margin-left: 100px;
  width: 520px;
  background: white;
  height: 2.5em;
}

/* ARA butonu stili */
form.example button { 
  width: center;
  margin-left:-4px;
  padding: 9px;
  background: #e9ecef;
  color: #495057;
  font-size: 17px;
  border: 1px solid #ced4da;
  border-left: none; /* çift border olmaması için*/
  cursor: pointer;
  
}

form.example input:hover {
  border: 1px solid red;
  transition: color .2s;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

  /* Navbar container */
.navbar {
  
  overflow: hidden;
  background-color: #ed502f;
  font-family: Arial;
  float:left;
  width:100%;
}

/* navbar içi linkler */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin:0; /* Important for vertical align on mobile phones */
  width:150px;
  margin-left:63px;

}

/* mause gelince arka plan değişikliği */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color:#ed502f;
  transition: color .2s;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 89%;
  margin-left:70px;
  left: 0;
  z-index: 1;
}

/* dropdown menu  hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 3 tane eşit sütün için */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: white;
  height: auto;
}

/* Sütun içi stil */
.column a {
  float: left;
  color: black;
  padding: 2px;
  text-decoration: none;
  display: left;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
} 

#menu-ana{
 display: block;
 font-size: 15px;
 font-weight: 700;
 margin-bottom: .5em;
 color: #ed502f ;
}

#menu-ana-2{
  min-height: 1px ;
  display: inline;
  padding-right: 0;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  color: #435064 ; 
}
#menu-ana-3{
min-height: 1px ;
display: inline;
padding-right: 0;
font-size: 13px;
font-weight: 500;
position: relative;
margin-right: .4em;
color: #435064 ;
}

ul{
  display: inline;
  list-style: none;
}